{% extends "plantilla/principal.html.twig" %}

{% block tituloLocal %}Gestión de Promociones{% endblock %}

{% block btnAdicionar %}
{#Adicionar Promoción#}
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){

         $.ajax({
            type: "POST",
            url: '{{path("registrosPromociones")}}',
            dataType: "html",

            success: function(data) {
                $('#registros').html(data);
                $('#btn-adicionar').click(function(){

                    $.ajax({
                        url: '{{path("nuevoPromocion")}}',
                        type: 'POST',
                        dataType: 'html',
                        success:function(data){
                            $('#modal-title').html('Registro de Promoción');
                            $('#modal-content').html(data);
                            $('#modal-footer').html('<button type="button" id="btn-guardar" class="btn btn-danger" >Guardar</button>');
                            $('#modal').modal('show');
                            $('#btn-guardar').click(function(){
                                $('#form-registro').submit();
                            });
                        }

                    });
                });
            }
        });
    });




    

    </script>
{% endblock %}