<div class="contenedor destacados">
    {% if mostrar %}
    <h2>Establecimientos destacados<a href="#">VER MÁS DESTACADOS</a></h2>
    {% endif %}
    <ul class="lista establecimientos">
        {% for establecimiento in establecimientosDestacados %}
            <li>
                <img src="{{ asset(establecimiento.webPath) }}" alt="{{ establecimiento.nombre }}" />
                <h3>{{ establecimiento.nombre }}</h3>
                <a href="#" value="{{ establecimiento.slug }}">Ver más</a>
            </li>
        {% endfor %}
    </ul>
</div>
