{% set currentPath = path(app.request.get('_route'), app.request.get('_route_params')) %}
{% set currentPage = paginador.getCurrentPage() %}
{% set totalPages = paginador.getTotalPages() %}

<ul class="paginador">

    {% for pagina in 1..totalPages %}
        <li><a {% if pagina == currentPage %} class="activo" {% endif %} href="" value="{{ pagina}}">{{ pagina }}</a></li>
    {% endfor %}


</ul>

<script type="text/javascript">
    $(document).ready(function(){

        hoverBotones("div.contenedor ul.paginador li a");




    });
</script>