
<h5 class="centered">Administrador</h5>
<h5 class="centered">
  {{ app.user.nombres }} {{app.user.apellidos}}
</h5>	
<li class="mt">
    <a class="active" href="#">
        
        <span>Usuarios</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
        
        <span>Reservas</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
        
        <span>Zonas</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
        
        <span>Categorias</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
       
        <span>Establecimientos</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
       
        <span>Productos</span>
    </a>
</li>
<li class="mt">
    <a class="" href="#">
        
        <span>Cupones y Promociones</span>
    </a>
</li>

