<div class="recuperar">
    <div class="login">
        <h2>Recuperar Contrase침a</h2>
        <p>Por favor introduzca su correo electr칩nico y le enviaremos las instrucciones</p><br/>
        <form class="login" action="" method="post">

            <div class="form">
                <label for="email" >Correo electr칩nico</label>
                <input id="email" type="email" placeholder="Correo electr칩nico" />
            </div>

            <div class="form enlace">

                <button type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>

<script >
    $(document).ready(function () {
        $('div.recuperar div.login div.enlace button').click(function(e){
            e.preventDefault();
            let correo = $('div.recuperar div.login div.form input').val();


            $.ajax({
                type: "POST",
                url:"{{ path('recuperarContrasenaWeb') }}",
                data: {correo:correo},
                success: function (data) {
                    if(data.estado){
                        $.colorbox.close()
                        mostrarMensaje(data.mensaje,'Exito');;
                    }else{
                        mostrarMensaje(data.mensaje,'Fallo');
                    }
                }
            });

        });
    })

</script>