
<span id="marcaPedido"></span>
<h2 class="titulo">Resumen de tu pedido</h2>
<div class="confirmacion">
    <img src="{{ asset('bundles/web/img/sonrisa.png') }}" alt="Carita feliz">
    <h3>Hemos recibido tu pedido</h3>
    <p>En este momento nuestro personal organizará tu pedido y los recibirás en la dirección suministrada</p>
    <a href="{{ path('home') }}">Regresar al inicio</a>
</div>
