{% extends "plantilla/principal.html.twig" %}

{% block tituloLocal %}Gestion de Articulos{% endblock %}

{% block lblAdicionar %}
Adicionar Articulo
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){

         $.ajax({
            type: "POST",
            url: '{{path("registrosArticulos")}}',
            dataType: "html",
            
            success: function(data) {
                $('#registros').html(data);
            }
        });
    });

    $('#btn-adicionar').click(function(){
        
        $.ajax({
            url: '{{path("nuevoArticulo")}}',
            type: 'POST',
            dataType: 'html',
            success:function(data){
                
                $('#modal-title').html('Registo de Articulo');
                $('#modal-content').html(data);
                $('#modal-footer').html('<button type="button" id="btn-guardar" class="btn btn-danger" >Guardar</button>');
                $('#modal').modal('show');
                $('#btn-guardar').click(function(){
                    $('#form-registro').submit();
                });

            }

        });
    });


    

    </script>
{% endblock %}