{% extends "plantilla/principal.html.twig" %}

{% block tituloLocal %}Gestion de Cupones{% endblock %}

{% block lblAdicionar %}
Adicionar Cupon
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function(){

         $.ajax({
            type: "POST",
            url: '{{path("registrosCupones")}}',
            dataType: "html",

            success: function(data) {
                $('#registros').html(data);
            }
        });
    });

    $('#btn-adicionar').click(function(){
        
        $.ajax({
            url: '{{path("nuevoCupon")}}',
            type: 'POST',
            dataType: 'html',
            success:function(data){
                $('#modal-title').html('Registo de Cupon');
                $('#modal-content').html(data);
                $('#modal-footer').html('<button type="button" id="btn-guardar" class="btn btn-danger" >Guardar</button>');
                $('#modal').modal('show');
                $('#btn-guardar').click(function(){
                    $('#form-registro').submit();
                });
            }

        });
    });


    

    </script>
{% endblock %}